doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/styles.css")
    title Gulp
  body
    h1 Gulp init
    p Dolor optio doloremque iste voluptatem alias. Itaque at debitis nostrum explicabo et? Doloribus aut tempora optio adipisci deleniti, tempora Accusantium animi ratione consequuntur quaerat aliquid. Veritatis quo libero cumque ratione

